.App {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

#navigation {
  margin-bottom: 2rem;
}

#navigation button {
  margin-right: 1rem;
}

#slide {
  border: 1px solid #eee;
  padding: 1rem;
  min-height: 300px;
}

button {
  min-width: 80px;
  margin-top: 15px;
  margin-left: 300px;
}
#slide{
  border: solid 1px black;
  width: 50%;
  background-color: lightblue;
  margin-left: 20%;
}
h1,p{
  margin-top: 40px;
  text-align: center;
}

